<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">

    <h2 class="text-white text-center mt-3">Log in</h2>

    <div class="container mt-3 pt-3">
      <%= form_with url:charges_path do |f| %>
        <div class="col-6 offset-3">
          <div class="form-group d-flex flex-column text-white">
            <%= f.label :current_rank %><br/>
            <%= f.select "current_rank", options_for_select(Boost::RANKS), class: "form-control rounded-sm" %>
          </div>
          <br/>
          <div class="form-group d-flex flex-column text-white">
            <%= f.label :desired_rank %><br/>
            <%= f.select "desired_rank",  options_for_select(Boost::RANKS), class: "form-control rounded-sm" %>
          </div>  
          <div class="form-group d-flex flex-column text-white">
            <%= f.label :queue %><br/>
            <%= f.select "queue",  options_for_select(Boost::QUEUE), class: "form-control rounded-sm" %>
          </div>
          <% unless !current_user || current_user.riot_accounts.nil? %>
            <div class="form-group d-flex flex-column text-white">
              <%= f.label :riot_account %><br/>
              <%= f.select "riot_accoun",  options_for_select(current_user.riot_accounts), class: "form-control rounded-sm" %>
            </div>
          <% end %>
          <div class="d-flex justify-content-end mt-4" id="bottom_boost">
              <div  class="ml-5">
                <div id="print_price"><%= Boost.total_price("Bronze", "Master") %></div>€
              </div>
              <div class="actions">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_pQdzsUTyAkBzrpfyhIDvdwn600gyLKd3yq"
                    data-amount= 100
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-currency="eur"
                    data-label="Commander">
                  </script> 
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

