<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">

    <h2 class="text-white text-center mt-3">Resend confirmation instructions</h2>

    <div class="container mt-3 pt-3">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="col-6 offset-3">
          <div class="form-group row text-white">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),class: "form-control rounded-sm" %>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Resend confirmation instructions",class: "btn btn-info rounded-sm btn-block" %>
          </div>
        <% end %>
        <div class="my-3">
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>
