<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">

      <h2 class="text-white text-center mt-3">Sign up</h2>

      <div class="container mt-3 pt-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="col-6 offset-3">

            <div class="form-group row text-white">
              <%= f.label :username %>
              <%= f.text_field :username, autofocus: true, autocomplete: "username",  class: "form-control
              rounded-sm" %>
            </div>

            <div class="form-group row text-white">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email", class: "form-control rounded-sm" %>
            </div>

            <div class="form-group row text-white">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control rounded-sm" %>
            </div>

            <div class="form-group row text-white">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control rounded-sm" %>
            </div>

            <div class="actions mt-5">
              <%= f.submit "Sign up", class: "btn btn-info rounded-sm btn-block"%>
            </div>
            <% end %>
          <div class="my-3">
          <%= render "devise/shared/links" %>
          </div>
        </div>
    </div>
  </div>
</div>
