<div class="bg-primary text-white">
  <div class="container y-5">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 rounded shadow-sm">
      <svg class="bd-placeholder-img mr-2 rounded" width="100" height="100" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <div class="lh-100">
        <h3 class="mb-0 text-white lh-100"><%= current_user.username %></h3>
      </div>
      <div class="w-100 text-center">
        <a href="<%= new_user_riot_account_path(current_user.id) %>" class="btn btn-info rounded-lg">Add Lol account</a>
      </div>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h3 class="border-bottom border-gray pb-2 mb-0">Riot Accounts</h3>
      <% @user.riot_accounts.each do |acc|%>
        <div id="account_<%= acc.id %>" class="media text-muted pt-3">
          <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
          <div class="d-flex justify-content-between w-100 border-bottom border-gray ">
            <div class="media-body pb-3 mb-0 small lh-125 text-primary">
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark"><%= acc.username %></strong>

              </div>
              <span class="d-block"><%= acc.server %></span>
            </div>
            <div class="d-flex">
              <%= link_to "Show password", user_riot_account_path(user_id: @user.id, id: acc.id), class: "ml-5
              text-warning", remote: true %>
              <!--<a href="#" class="ml-5">Edit</a>-->
              <%= link_to "Delete", user_riot_account_path(user_id: @user.id, id: acc.id), class: "ml-5 text-danger",
                          remote:
                  true, method:
                  'delete' %>
            </div>
          </div>
        </div>
      <% end %>
      <small class="d-block text-center mt-3">
        <a href="<%= new_boost_path %>" class="btn btn-warning btn-sm rounded-lg">Purchase boost</a>
      </small>
    </div>
  </div>
</div>