<div class="log pt-5">

  <div class="container bg-dark content p-5 rounded-lg">

    <h2  class="text-white text-center ">Forgot your password?</h2>

    <div class="d-flex flex-column align-items-center form-group mt-5">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="field text-white pb-3">
          <%= render "devise/shared/error_messages", resource: resource %>
        </div>

      <div class="field text-white pb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control rounded-sm"  %>
      </div>

      <div class="actions mt-3">
        <%= f.submit "Send me reset password instructions", class: "btn btn-warning rounded-sm w-100" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
