<div class="log pt-5">

  <div class="container bg-dark content p-5 rounded-lg">

    <h2 class="text-white text-center">Log in</h2>

    <div class="d-flex flex-column align-items-center form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field m-3 text-white">
          <%= f.label :login%><br/>
          <%= f.text_field :login, autofocus: true, autocomplete: "email", class: "form-control rounded-sm" %>
        </div>

        <div class="field m-3 text-white">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control rounded-sm" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field m-3 text-white">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-warning rounded-sm w-100"  %>
        </div>
      <% end %>
    </div>

    <%= render "devise/shared/links" %>

  </div>
