<div class="log p-5 d-flex align-items-center justify-content-center">

  <div class="container bg-primary p-5 rounded-lg shadow-lg">
    <h2 class="text-white text-center mt-3">User profil</h2>

    <% @user.riot_accounts.each do |account| %>
    <div class="col-8 offset-2 mt-3">

      <div class="row text-white">
        <p> <%= @user.email%> </p>
      </div>

      <div class="row text-white">
        <p>Lol accounts :</p>
          <table class="table table-dark">
            <thead>
              <th scope="col">account id</th>
              <th scope="col">username</th>
              <th scope="col">password</th>
              <th scope="col">server</th>
            </thead>
            <tbody>
              <tr>
                <td><%= account.id %> </td>
                <td><%= account.username %> </td>
                <td><%= account.password %></td>
                <td><%= server %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row text-white">
          <% account.boost.each do |boost| %>
          <p>current boosts :</p>
          <table class="table table-dark table-hover">
            <thead>
              <th scope="col">account's id</th>
              <th scope="col">queue</th>
              <th scope="col">current rank</th>
              <th scope="col">desired rank</th>
              <th scope="col">price</th>
            </thead>
            <tbody>
              <tr>
                <td><%= boost.riot_account.id %></td>
                <td><%= boost.queue %></td>
                <td><%= boost.current_rank %></td>
                <td><%= boost.desired_rank %></td>
                <td><%= boost.price %></td>
              </tr>
            </tbody>
          </table>
          <%end%>
        </div>

        <div class="actions">
          <% button_to "Ban this account", admin_user_path(@user.id), method: delete, class: "btn btn-info rounded-sm btn-block mt-3"%>
        </div>

    </div>
    <%end%>
  </div>
</div>
